@charset "utf-8";

/* 
paleta de cores 
marrom: #B15222
azul: #75F0FF, #ABFFF5
rosé: #E06E8C ou #91465A
*/

/*VISÃO PARA CELULAR*/

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body, html {
    background-color: #91465A;
    height: 100vh;
    width: 100vw;

}
 main {
    position: relative;
    height: 100vh;
    width: 100vw;

 }
 section#login {
    background-color: white;
    width: 250px;
    height: 515px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.463);

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    
    transition: width 0.7s, height 0.7s;
    transition-timing-function: ease;

 }
 section#login > div#img {
    display: block;
    background: #91465A url(../imagens/foto-login.jpg)no-repeat;
    background-size: cover;
    background-position: center, center;
    height: 200px;
 }

 section#login > div#formulario {
    display: block;
    padding: 10px;

 }
 div#formularfio > h1 {
    text-align: center;
    margin-bottom: 10px;

 }

 div#formulario > p {
    font-size: 0.8em;
 }

 form > div.campo {
   margin: 5px;
 }

 div.campo > label {
   display: none;
   
 }

 form > input[type=submit] {
   display: block;
   font-size: 1em;
   width: 100%;
   height: 30px;
   background-color: #75F0FF;
   color: white;
   border: none;
   border-radius: 5px;
   cursor: pointer;

 }

 form > input[type=submit]:hover  {
   background-color: #4ca4b0;
 }
 form > a.botao {
   display: block;
   text-align: center;
   font-size: 1em;
   width: 100%;
   height: 30px;
   padding-top: 5px;
   margin-top: 5px;
   background-color: #6bf9e9;
   color: white;
   border: solid 1px #75F0FF;
   text-decoration: none;


 }

 form > a.botao:hover {
   background-color: #75F0FF;

 }
 form > a.botao > i {
   font-size: 0.8em;

 }
